body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #ccc;
}

.btn {
  font-size: 5rem;
  padding-top: 0px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

input {
  display: block;
}
input[type="text"],
input[type="number"] {
  width: 160px;
}

h1 {
  margin: 1em auto 0.5em;
  font-size: 3rem;
  grid-area: header;
}
.button-creator {
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "header header"
    "resultado controles";
}
.resultado {
  width: 600px;
  margin: 0 auto;
  padding: 0px 20px;
  grid-area: resultado;
}

#controles {
  font-family: "IBM Plex Mono", monospace;
  font-size: 0.875rem;
  background: #eee;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.1);
  grid-area: controles;
}

.css {
  font-family: "IBM Plex Mono", monospace;
  color: #333;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

.css span {
  display: block;
  margin-bottom: 0.5rem;
}
/***/
.pixels-by-pixels {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  padding: 30px;
}

#title {
  margin-top: 20px;
  align-items: center;
}

#color-palette {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.color {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  cursor: pointer;
}

.selected {
  border: 2px solid white;
}

#controls {
  margin-bottom: 20px;
}

#board-size {
  width: 100px;
  padding: 5px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

#generate-board,
#clear-board {
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
}

#pixel-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pixel {
  width: 30px;
  height: 30px;
  border: 0.1px solid rgba(0, 0, 0, 0.23);
  background-color: white;
}
